<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @question.index %>
</p>

<p>
  <strong>Show:</strong>
  <%= @question.show %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
